body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(five-senses.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
.navbar {
  background-color:black;
  border-style: none;
}
